DEBUG=True
DJANGO_SECRET_KEY=replace-me
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=True

# Docker Postgres
DB_ENGINE=django.db.backends.postgresql
DB_NAME=bugtracker
DB_USER=postgres
DB_PASSWORD=replace-me
DB_HOST=db
DB_PORT=5432
